<div id="<%= dom_id imagec %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= imagec.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= imagec.description %>
  </p>

</div>
